@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: bisque;
}

/* Header Stylings */

#header {
  height: 70px;
  width: 100%;
  color: #333333;
  background-color: beige;
  margin-top: -20px;
  position: fixed;
  z-index: 100;
  top: 0;
}
.head-list {
  color: #333333;
  background-color: beige;
  margin: 0 0 20px;
  border: 1px solid darkslategrey;
}
.hor-list {
  list-style: none;
  padding-left: 0px;
}

.hor-list li {
  display: inline-block;
  margin: 4px 10px 0px;
}
.hor-list li a {
  /* color: rgba(0, 0, 0, 0.3); */
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  transition: color 0.5s, border-bottom 4s;
}

.head-list > li > img {
  height: 30px;
  width: 130px;
  margin-top: 20px;
  background-size: cover;
  padding: 5px;
  margin-left: 180px;
  cursor: pointer;
}

.nav-list {
  text-align: center;
  color: #777777;
  margin: 10px 0 0;
  margin-left: 120px;
  margin-bottom: 0px;
}
.nav-list li {
  margin-bottom: 10px;
}
.nav-list li a {
  color: #777777;
  padding: 5px;
}

.log-sign-list {
  text-align: center;
  padding: 5px;
  color: #777777;
  margin: 10px 0 0;
  margin-left: 120px;
  margin-bottom: 0px;
}

.log-sign-list #sign-up a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.log-sign-list #log-in a {
  font-weight: normal;
  color: #777777;
}

.hor-list li a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

#ham-btn {
  position: fixed;
  top: 2%;
  left: 95%;
  display: none;
}
#ham-btn:hover {
  color: wheat;
  background-color: lightslategrey;
}
/* main Body Stylings */

#main {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
}
.main-quiz-container {
  width: 40%;
  margin-left: 80px;
  display: inline-block;
}

.main-quiz-container h1 {
  color: #333333;
  margin: 20px 0px 10px;
  text-align: end;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.container-grid-quiz {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: space-between;
  grid-gap: 30px;
}
.quiz-container {
  width: 350px;
  height: 390px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  background-color: azure;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
}
.image-container > img {
  width: inherit;
  height: 250px;
  background-size: cover;
}

.timeline {
  background-color: #ffffffb3;
  opacity: 0.8;
  color: black;
  position: absolute;
  bottom: 5%;
  left: 2%;
  font-weight: bold;
  font-size: 0.7em;
  padding: 2px 10px;
}

.quiz-green {
  background-color: #489b49ba;
  color: #ffffffb3;
  position: absolute;
  top: 2%;
  right: 5%;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 0.8em;
}

.about-quiz {
  margin: 0 30px;
}
h3 {
  font-weight: 300;
  text-align: center;
}
.about-quiz > p {
  color: #808080;
  font-weight: 200;
  text-align: center;
  /* white-space: 100; */
  overflow: hidden;
  text-overflow: ellipsis;
}

#item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#item3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#item5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#item6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#item7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
#item8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#item9 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
#item10 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
#item11 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

/* Footer Stylings */

#footer {
  margin: 20px 40px;
}

.footer-list {
  text-align: center;
  padding: 5px;
}
.footer-list li a {
  color: #428bca;
}

.footer-list li a:hover {
  color: #052a49;
}
.company-info {
  font-size: 0.9em;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.company-info > a {
  color: #428bca;
  text-decoration: none;
  transition: color 0.5s, border-bottom 4s;
}

.company-info > span {
  opacity: 0.7;
}

.company-info > a:hover {
  color: rgb(12, 66, 48);
  text-decoration: underline;
}

.footer-list li a::after {
  content: "|";
  margin-left: 20px;
  color: #333333;
}

#cookie a::after {
  content: "";
}

/* Aside Stylings */

.aside {
  float: right;
  width: 35%;
  margin-top: 20px;
  display: inline-block;
}

/* Table-Top-Aside */

.table-top {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 300px;
  background-color: #fff;
  cursor: pointer;
}

.table-top tr th {
  padding: 5px;
  font-size: 1.5em;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}
tr {
  border-bottom: solid;
  border-width: 1px 0;
  border-color: rgb(218, 205, 205);
}

#all {
  font-weight: 600;
  background-color: whitesmoke;
}

/* Quiz-Categories-aside */

.quiz-categories {
  width: 300px;
  margin-top: 40px;
}

.quiz-categories-table {
  width: inherit;
  height: auto;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
.quiz-categories > h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 450;
  margin-top: 20px;
  margin-bottom: 5px;
}

.quiz-row {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(218, 205, 205);
}
.quiz-row:last-child {
  border-bottom: none;
}
.quiz-row a {
  padding: 5px;
  padding-right: 7px;
  margin: 2px 0px 4px;
  border-right: 1px solid rgb(218, 205, 205);
  text-decoration: none;
  color: black;
}
.quiz-row .end-category {
  border-right: none;
}

.quiz-row #women {
  font-weight: 600;
}
.quiz-row a:hover {
  background-color: rgb(229, 226, 226);
}

/* Top Quizzes */
.top-quiz {
  width: 300px;
  margin-top: 40px;
}
.top-quiz > h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 450;
  margin-top: 20px;
  margin-bottom: 5px;
}

.quiz-tile {
  margin-top: 8px;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-areas: "image title";
  background-color: whitesmoke;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.quiz-image {
  width: inherit;
  grid-area: image;
}

.quiz-tile > img {
  grid-area: image;
  width: inherit;
  height: 100px;
}

.quiz-tile > h3 {
  width: inherit;
  grid-area: title;
  font-size: 0.9em;
  padding: 5px;
  font-weight: 500;
}

/* Story Genres Stylings Aside */
/* ?styling same as Quiz-Categories and used the same classes */

/* Create Quiz Button Stylings (Aside) */

.create-quiz-btn {
  width: 300px;
  background-color: #30c553;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  padding: 8px;
  margin: 40px 0px;
  border-radius: 0.8rem;
}

.create-quiz-btn:hover {
  background-color: #19692c;
}

/* Popular Tags Stylings Aside */
/* ?styling same as Quiz-Categories and used the same classes */

/* Hovering Stylings */

/* Category Hovers */

.category-hover-list {
  position: fixed;
  left: 30%;
  width: 360px;
  z-index: 150;
  top: 8%;
  display: none;
  grid-template-columns: repeat(2, 180px);
  grid-template-rows: auto auto;
  background-color: aliceblue;
}

.category-hover {
  padding: 10px;
  background-color: aliceblue;
}

.quiz-hover {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.category-hover > p {
  font-weight: 600;
  font-size: 1.2em;
  padding-left: 30px;
}

.story-hover {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.popular-hover {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.category-hover-list li {
  cursor: pointer;
  font-size: 1em;
}
.category-hover-list li:hover {
  background-color: rgb(206, 205, 202);
}

/* Create Hovers */
.create-hover-list {
  position: fixed;
  width: 200px;
  left: 40%;
  top: 8%;
  z-index: 130;
  background-color: aliceblue;
  padding: 5px;
  display: none;
}

.create-list {
  padding: 0 10px;
}

.create-hover-list .create-list li {
  font-size: 1em;
  padding: 4px;
  cursor: pointer;
}

.create-hover-list .create-list li:hover {
  background-color: rgb(206, 205, 202);
}

/* Media Queries */

@media only screen and (max-width: 1300px) {
  .head-list > li > img {
    margin-left: 10px;
  }

  .aside {
    margin-left: 60px;
  }

  .category-hover-list {
    left: 20%;
  }
  .create-hover-list {
    left: 30%;
  }
}

@media only screen and (max-width: 1250px) {
  .main-quiz-container {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1150px) {
  .hor-list li {
    margin-left: 20px;
  }
  .nav-list {
    margin-left: 40px;
  }
  .log-sign-list {
    margin-left: 40px;
  }

  .main-quiz-container h1 {
    font-size: 2em;
  }
  .quiz-container {
    width: 300px;
    height: 340px;
  }

  .about-quiz {
    margin: auto;
  }
  .about-quiz > p {
    font-size: 0.9em;
  }
  .about-quiz > h3 {
    font-size: 1em;
  }

  .table-top {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .hor-list {
    margin-left: 0px;
    margin-right: 0px;
  }

  .nav-list {
    margin-left: 0;
    margin-right: 0;
  }
  .head-list {
    margin-left: 10px;
  }

  .head-list > li > img {
    width: 90px;
  }

  .aside {
    margin-top: 50px;
    width: 30%;
  }

  .table-top {
    width: 250px;
    height: 250px;
  }

  .table-top tr th {
    font-size: 1.2em;
  }

  .quiz-categories {
    width: 250px;
  }

  .quiz-categories > h3 {
    font-size: 1.2em;
  }

  .quiz-row a {
    font-size: 0.8em;
  }

  .top-quiz {
    width: 250px;
  }

  .quiz-tile > h3 {
    font-size: 0.5em;
    padding: 2px;
  }
  .quiz-tile > img {
    width: 120px;
  }

  .create-quiz-btn {
    width: 250px;
    font-size: 1em;
    border-radius: 0.4em;
  }

  .category-hover-list {
    left: 15%;
  }
}

@media screen and (max-width: 920px) {
  .head-list li {
    display: block;
  }

  .nav-list {
    display: none;
  }
  .log-sign-list {
    align-self: center;
    display: none;
  }
  #ham-btn {
    height: 25px;
    width: 30px;
    display: initial;
    color: #333;
    background-color: #888888;
  }

  .quiz-container {
    width: 350px;
  }

  .aside {
    float: unset;
    vertical-align: bottom;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-left: 33%;
  }
  .table-top {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 300px;
    background-color: #fff;
    cursor: pointer;
  }

  .table-top tr th {
    padding: 5px;
    font-size: 1.5em;
    font-weight: 500;
  }

  table {
    border-collapse: collapse;
  }
  tr {
    border-bottom: solid;
    border-width: 1px 0;
    border-color: rgb(218, 205, 205);
  }

  #all {
    font-weight: 600;
    background-color: whitesmoke;
  }

  .quiz-categories {
    width: 300px;
    margin-top: 40px;
  }

  .quiz-categories-table {
    width: inherit;
    height: auto;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .quiz-categories > h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .quiz-row {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(218, 205, 205);
  }
  .quiz-row:last-child {
    border-bottom: none;
  }
  .quiz-row a {
    padding: 5px;
    padding-right: 7px;
    margin: 2px 0px 4px;
    border-right: 1px solid rgb(218, 205, 205);
    text-decoration: none;
    color: black;
  }
  .quiz-row .end-category {
    border-right: none;
  }

  .quiz-row #women {
    font-weight: 600;
  }
  .quiz-row a:hover {
    background-color: rgb(229, 226, 226);
  }

  .top-quiz {
    width: 300px;
    margin-top: 40px;
  }
  .top-quiz > h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .quiz-tile {
    margin-top: 8px;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-areas: "image title";
    background-color: whitesmoke;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .quiz-image {
    width: inherit;
    grid-area: image;
  }

  .quiz-tile > img {
    grid-area: image;
    width: inherit;
    height: 100px;
  }

  .quiz-tile > h3 {
    width: inherit;
    grid-area: title;
    font-size: 0.9em;
    padding: 5px;
    font-weight: 500;
  }

  .create-quiz-btn {
    width: 300px;
    background-color: #30c553;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    padding: 8px;
    margin: 40px 0px;
    border-radius: 0.8rem;
  }

  .create-quiz-btn:hover {
    background-color: #19692c;
  }

  .category-hover-list {
    position: fixed;
    left: 30%;
    width: 360px;
    z-index: 150;
    top: 8%;
    display: none;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: auto auto;
    background-color: aliceblue;
  }

  .category-hover {
    padding: 10px;
    background-color: aliceblue;
  }

  .quiz-hover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .category-hover > p {
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 30px;
  }

  .story-hover {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .popular-hover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .category-hover-list li {
    cursor: pointer;
    font-size: 1em;
  }
  .category-hover-list li:hover {
    background-color: rgb(206, 205, 202);
  }

  .main-quiz-container h1 {
    color: #333333;
    margin: 20px 0px 10px;
    text-align: end;
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  .quiz-container {
    width: 350px;
    height: 390px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    background-color: azure;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .about-quiz {
    margin: 0 30px;
  }
  .about-quiz > p {
    font-size: 0.9em;
  }
  .about-quiz > h3 {
    font-size: 1.2em;
  }

  .main-quiz-container {
    width: 70%;
    margin-left: 80px;
  }
  .main-quiz-container h1 {
    color: #333333;
    margin: 20px 0px 10px;
    text-align: end;
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  .category-hover-list {
    top: 11%;
  }
  .create-hover-list {
    top: 15%;
    left: 42%;
  }
}

@media screen and (max-width: 800px) {
  #main {
    margin-left: 10px;
  }
  .main-quiz-container {
    margin-left: 10px;
  }
}

@media screen and (max-width: 720px) {
  .main-quiz-container h1 {
    font-size: 2em;
  }
  .quiz-container {
    width: 300px;
    height: 340px;
  }

  .about-quiz {
    margin: auto;
  }
  .about-quiz > p {
    font-size: 0.9em;
  }
  .about-quiz > h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 630px) {
  #main {
    width: 100%;
  }
  .main-quiz-container {
    width: 100%;
  }
  .quiz-container {
    width: 100%;
    height: 100%;
  }

  .main-quiz-container h1 {
    text-align: center;
  }

  .main-quiz-container {
    grid-gap: 5px;
  }
}

@media screen and (max-width: 550px) {
  .container-grid-quiz {
    display: block;
  }

  .quiz-container {
    width: 350px;
    height: 390px;
    margin: 10px 0;
    margin-left: 80px;
  }

  .aside {
    margin-left: 100px;
  }

  #ham-btn {
    left: 90%;
  }

  .category-hover-list {
    left: 15%;
  }
  .create-hover-list {
    left: 30%;
  }
}

@media screen and (max-width: 460px) {
  .main-quiz-container {
    margin-left: 0px;
  }
  .quiz-container {
    margin-left: 40px;
  }
  .aside {
    margin-left: 50px;
  }
}

@media screen and (max-width: 400px) {
  .quiz-container {
    margin-left: 5px;
  }
  .aside {
    margin-left: 5px;
  }

  .category-hover-list {
    left: 5%;
    font-size: 1em;
  }
  .create-hover-list {
    left: 20%;
    font-size: 1em;
  }
}
